@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Moonkids";
  src: url("../public/Moonkids.otf");
}
@font-face {
  font-family: "Plaguard";
  src: url("../public/Plaguard.ttf")
}

.logo {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
